:host {
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem
}

form mat-form-field {
  width: 100%;
}

form button {
  width: 25%;
}

table {
  width: 100%;
}

tr:not(.row__marked):hover {
  background-color: rgba(0, 0, 0, .04);
}

.cell__content {
  width: 95% !important;
}

.cell__action {
  padding: 0 !important;
}

.cell__remove:hover .mat-icon {
  color: #f44336;
}

.row__marked {
  background-color: #f4433657;
  text-decoration-line: line-through;
}

.spacer {
  flex: 1 1 auto;
}

.todo__page mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo__add {
  margin-top: 1rem;
}
