:host {
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem
}

form mat-form-field {
  width: 100%;
}

mat-card-actions button {
  width: 40%;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

.error-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 10px auto;
  height: 36px;
  border-radius: 10px;
  background-color: #f44336;
  color: white;
}
